.wrapper {
  display: none;
}

.field {
  margin-bottom: -20px;
  width: 150px;
}

p{
font-family: Arimo;
}

#clear{
display: none;
}

h1{
font-family: Arimo;
}

.fdate {
  margin-bottom: -20px;
  width: 150px;
}

.ui-state-error a {
	border: 0px solid #c5de8f !important;
  background-color: #c5de8f !important;
	background: #c5de8f !important;
  background-image: none !important;
}

.hld a {
	border: 0px solid #f47d0f !important;
  background-color: #f47d0f !important;
	background: #f47d0f !important;
  color: white !important;
  background-image: none !important;
}

#ui-datepicker-div .ui-state-active {
color: white !important;
}

#ui-datepicker-div .ui-state-highlight {
color: black !important;
}

.ui-state-error {
	border: 0px solid #c5de8f !important;
	background: #c5de8f !important;
}

.ui-datepicker-week-end a {
    border: 1px solid #f5f608 !important;
    background-image: none !important;
    background-color: #f5f608 !important;
    color: black !important;
}

.ui-widget{
    font-size: 0.7em;
}

td.highlight > a {
    background: #000!important;
    color: #fff!important;
}
